.wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.firstButton {
  height: 60px;
  width: 60px;
  border-radius: 10%;
  border: 1px;
  background-color: darkCyan;
}

.blueButtonSmall {
  margin: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px;
  background-color: darkCyan;
}

.blueButton {
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px;
  background-color: darkCyan;
}

.upgrade {
  border-radius: 10%;
  border: 2px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
}

.topLayer {
  margin: auto;
  left: 0;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 5px;
}

.lowerLayer {
  margin: auto;
  padding-left: 15px;
  vertical-align: top;
}

.greenButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px;
  background-color: green;
}
