6.wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.firstButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px;
  background-color: darkCyan;
}

.blueButton {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px;
  background-color: darkCyan;
}

.topLayer {
  positon: relative;
  top: 200px;
  left: 0;
  z-index: 0;
  top:0;
  left: 0;
}

.layer1 {
  position: absolute;
  z-index: -1;
  top: 5;
  left: 0;
}

.layer2 {
  z-index: -2;
  top: 10;
  left: 0;
}

.layer3 {
  z-index: -3;
  top: 15;
  left: 0;
}

.greenButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px;
  background-color: green;
}

.upgrade {
  height: 60px;
  width: 2000px;
  border-radius: 10%;
  border: 2px;
  background-color: grey;
}
